global.css
/* Add your global CSS styles here */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

#title {
  background-color: rgba(64, 96, 90, 1);
  color: #f2f2f2;
  font-family: "Times New Roman", Times, serif;
}
.job-search-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.job-search-form input,
.job-search-form select {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.job-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

#apply {
  background-color: rgba(64, 96, 90, 1);
  color: #f2f2f2;
}

.job-card h3 {
  margin-top: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 15px;
  margin: 0 5px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button.active {
  background-color: rgba(64, 96, 90, 1);
  color: white;
}